.woocommerce-page #tab-description h2 {
	display: none;
}

.woocommerce .site-content  #respond input#submit.alt, 
.woocommerce .site-content  a.button.alt, 
.woocommerce .site-content  button.button.alt, 
.woocommerce .site-content  input.button.alt,
.woocommerce .site-content #respond input#submit.alt:hover, 
.woocommerce .site-content a.button.alt:hover, 
.woocommerce .site-content button.button.alt:hover, 
.woocommerce .site-content input.button.alt:hover 
{
	padding: 13px 26px;
		background: #e74f4e;
		border: 0;
		color: #fff;
		font-weight: bold;
	/*	text-transform: uppercase;*/
		cursor: pointer;
		-webkit-appearance: button;
		
	font-family: "camingodos-web", "Arial Bold", Helvetica, sans-serif;
}